@media (max-width: 767px) {
  .bold-slogan {
    font-size:40px !important;
    line-height:normal !important;
  }
}

@media (max-width: 767px) {
  .faq-heading {
    margin-top:50px;
  }
}

@media (max-width: 767px) {
  .col-md-5.col-sm-6.item {
    margin-bottom:20px;
  }
}

@media (max-width: 767px) {
  .free-date-row {
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:40px !important;
    padding-bottom:50px !important;
    height:auto !important;
  }
}

@media (max-width: 767px) {
  .about-heading {
    margin-top:50px !important;
  }
}

@media (max-width: 767px) {
  .slogan-col {
    height:auto !important;
    padding-right:0% !important;
  }
}

