@media (max-width: 991px) {
  .free-date-transparent {
    padding-right:15% !important;
    padding-left:15% !important;
  }
}

.panel-body {
  padding:25px;
  padding-bottom:50px;
}

.panel-title {
  background-color:transparent !important;
}

.accordian-button:hover, .accordian-button:focus {
  color:white !important;
}

.accordian-button {
  letter-spacing:0.1px;
  width:100%;
  font-family:Source sans pro;
  font-size:20px;
  color:#ae86ef !important;
  font-weight:800 !important;
  padding-top:10px;
  padding-bottom:10px;
}

@media (max-width: 767px) {
  .container.about {
    height:700px;
  }
}

@media (max-width: 767px) {
  .free-date-transparent {
    padding-right:10% !important;
    padding-left:10% !important;
    padding-top:40% !important;
  }
}

.style-button {
  background-color:transparent !important;
  color:#ae86ef;
  font-weight:400;
  border:1px solid #ae86ef !important;
  border-radius:30px !important;
}

.form-control.sign-up {
  border-bottom:1px solid #ae86ef !important;
  color:rgb(65,65,65) !important;
  background-color:transparent !important;
}

@media (max-width: 767px) {
  .text-right {
    text-align:center;
  }
}

@media (max-width: 767px) {
  .col-md-6.what-col {
    padding-top:50px !important;
    padding-bottom:10px !important;
  }
}

@media (max-width: 767px) {
  .hero-image {
    height:100px !important;
    width:auto !important;
    margin-top:40px;
  }
}

@media (max-width: 767px) {
  .carousel-col {
    height:550px !important;
  }
}

@media (max-width: 767px) {
  .carousel-img {
    max-width:100%;
    height:auto;
    min-height:0px;
    display:block;
    max-height:100%;
  }
}

@media (max-width: 991px) {
  .text-right {
    text-align:center;
  }
}

@media (max-width: 767px) {
  .now-what {
    text-align:center;
  }
}

@media (max-width: 991px) {
  .now-what {
    text-align:center;
  }
}

.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.hero {
  /*background:url(city_bg.jpg) no-repeat center;*/
  background-size:cover;
  border:none;
}

.navbar-fixed-top.scrolled {
  background-color:#ae86ef !important;
  transition:background-color 200ms linear;
}

.navv.scrolled {
  color:#ffffff !important;
}

.navv.scrolled:hover {
  color:#333333 !important;
}

@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

.text-left.description {
  letter-spacing:0.3px !important;
  font-size:16px;
}

@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview {
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#ae86ef;
  /*text-shadow:2px 2px 3px rgba(0,0,0,0.3);*/
  margin-bottom:40px;
}

.hero .get-it .btn {
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup {
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:100%;
  height:auto;
}

.iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features {
  background-color:#ae86ef;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  color:#ae86ef;
  background-color:rgba(174,134,239, 0.5);
  border-color:#ae86ef;
}

.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
  /*background-color:#158cba;*/
  /*border-color:#127ba3;*/
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color:#ae86ef;
  /*background-color:#106a8c;*/
  /*border-color:#0c516c;*/
}

a:hover, a:focus {
  color:#ae86ef;
  text-decoration:none !important;
}

a {
  color:#ffffff;
}

.btn.btn-primary.btn-lg {
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  /*outline:none;*/
  /*outline-offset:0px;*/
}

.btn:hover {
  margin-top:0px;
  border-bottom-width:0px;
}

a:focus {
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}

.navbar-default .navbar-link {
  color:#ffffff;
}

.navbar-default .navbar-link {
  margin-right:25px;
  font-size:16px;
}

.btn.btn-default.action-button.get-beta {
  height:35px;
  font-size:14px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-size:20px;
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
  content:no-close-quote;
}

blockquote footer, blockquote small, blockquote .small {
}

.device {
  margin-bottom:20px;
}

@media (min-width:768px) {
  .form-con .form-control {
    display:inline-block;
    width:auto;
    vertical-align:middle;
  }
}

@media (max-width: 767px) {
  .beta-email {
    width:330px;
  }
}

.carousel-control {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:15%;
  opacity:0.5;
  filter:alpha(opacity=50);
  font-size:20px;
  color:#ffffff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,0.6);
  background-color:rgba(0,0,0,0);
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  text-shadow:none;
}

@media (min-width: 992px) {
  .row.features {
    padding-left:150px !important;
    padding-right:150px !important;
  }
}

.panel-default > .panel-heading {
  color:#6c6c6c;
  background-color:transparent !important;
}

.panel {
  margin-bottom:20px;
  background-color:transparent;
  border:1px solid transparent;
  border-radius:4px;
  box-shadow:none;
}

h4, .h4 {
  font-size:24px !important;
}

.accordian-text {
  font-family:Raleway, sans-serif;
  font-size:16px;
  color:rgb(221,221,221);
  letter-spacing:0.2px;
  padding-bottom:25px;
  border-bottom:1px solid #d3d3d3;
  line-height:23px;
}

body {
  font-family:Source sans pro, sans-serif !important;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

.navbar-default .navbar-link:hover {
  color:#ae86ef;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline:none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline:none;
  outline-offset:0px;
}

